.css,
.sass,
.scss {
  .entity.other.attribute-name {
    &.class {
      color: @syntax-color-function;
    }
    &.attribute {
      color: @special;
    }
    &.pseudo-class {
      color: @syntax-color-definition;
    }
  }
  .keyword {
    &.control.at-rule.font-face {
      color: @special;
      >.punctuation.definition.keyword {
        color: darken(@special, 10%);
      }
    }
    &.other.important {
      color: @special;
    }
  }
  .support.type.property-name {
    color: @storage-class;
  }
}

.less,
.sass,
.scss {
  .keyword.control.at-rule.import {
    color: @syntax-color-import;
    >.punctuation.definition.keyword {
      color: darken(@statement, 10%);
    }
  }
  .variable {
    color: @syntax-color-variable;
  }
}

.sass {
  .variable-usage,
  .variable-declaration {
    .punctuation.definition.entity {
      color: darken(@syntax-color-variable, 10%);
    }
  }
}
