.syntax--go {
  &.syntax--storage.syntax--type {
    color: @storage-class;
  }

  .syntax--keyword {
    &.syntax--package,
    &.syntax--import {
      color: @syntax-color-import;
    }

    &.syntax--channel {
      color: @syntax-color-symbol;
    }

    &.syntax--operator.syntax--address {
      color: @syntax-color-symbol;
    }

    &.syntax--var,
    &.syntax--type,
    &.syntax--const,
    &.syntax--function {
      color: @syntax-color-definition;
    }

    &.syntax--struct {
      color: @syntax-color-type;
    }
  }
}
