.syntax--syntax--js {
  .syntax--syntax--storage {
    &.syntax--syntax--type {
      color: @syntax-color-definition;

      &.syntax--syntax--class {
        color: @syntax-color-class;

        &.syntax--syntax--jsdoc {
          color: @syntax-color-variable;
          font-style: normal;
        }
      }

      &.syntax--syntax--class.syntax--syntax--jsdoc {
      }
    }
  }

  .syntax--syntax--support.syntax--syntax--variable.syntax--syntax--dom,
  .syntax--syntax--support.syntax--syntax--type.syntax--syntax--object.syntax--syntax--dom,
  .syntax--syntax--variable.syntax--syntax--language.syntax--syntax--self,
  .syntax--syntax--variable.syntax--syntax--language.syntax--syntax--this {
    color: @syntax-color-constant;
  }
  &.syntax--syntax--variable.syntax--syntax--language.syntax--syntax--prototype,
  &.syntax--syntax--variable.syntax--syntax--language.syntax--syntax--proto {
    color: @storage-class;
  }

  &.syntax--syntax--string.syntax--syntax--regexp {
    .syntax--syntax--punctuation.syntax--syntax--definition.syntax--syntax--string {
      color: @ruby-regexp-delimiter;
    }
  }

  &.syntax--syntax--punctuation.syntax--syntax--definition.syntax--syntax--quasi {
    >.syntax--syntax--string.syntax--syntax--quoted.syntax--syntax--template {
      color: @string-delimiter;
    }
  }

  &.syntax--syntax--punctuation.syntax--syntax--quasi.syntax--syntax--element {
    color: @syntax-color-variable;
  }

  &.syntax--syntax--variable.syntax--syntax--other.syntax--syntax--property {
    color: @syntax-color-symbol;
  }

  &.syntax--syntax--constant.syntax--syntax--other.syntax--syntax--object.syntax--syntax--key {
    color: @syntax-color-symbol;
    >.syntax--syntax--string.syntax--syntax--unquoted {
      color: @syntax-color-symbol;
    }
  }

  .syntax--syntax--keyword {
    &.syntax--syntax--operator {
      color: @syntax-color-import;

      &.syntax--syntax--comparison,
      &.syntax--syntax--logical,
      &.syntax--syntax--arithmetic,
      &.syntax--syntax--accessor,
      &.syntax--syntax--relational,
      &.syntax--syntax--assignment {
        color: inherit;
      }
      &.syntax--syntax--regexp {
        color: lighten(@ruby-regexp, 25%);
      }

      &.syntax--syntax--bitwise {
        color: darken(@syntax-color-constant, 15%);
      }

      &.syntax--syntax--ternary {
        color: @syntax-color-control;
      }
    }
    &.syntax--syntax--control {
      &.syntax--syntax--anchor.syntax--syntax--regexp {
        color: lighten(@ruby-regexp, 25%);
      }
      &.syntax--syntax--module {
        color: @syntax-color-import;
      }
    }
  }
}
