.ruby {
  .punctuation.separator.variable {
    color: inherit;
  }

  &.language.self {
    color: @syntax-color-constant;
  }
  .keyword {
    &.control {
      &.def {
        color: @syntax-color-definition;
      }

      &.module {
        color: @syntax-color-class;
      }
    }
    &.operator.other {
      color: @syntax-text-color;
    }
  }
  &.variable.other.object {
    >.punctuation.definition.variable {
      color: @syntax-color-constant;
    }
  }
}
