.syntax--rust {
  &.syntax--keyword.syntax--other {
    color: @syntax-color-definition;
  }
  &.syntax--keyword {
    &.syntax--operator.syntax--sigil {
      color: @syntax-color-symbol;
    }
  }
  &.syntax--variable.syntax--language {
    color: @syntax-color-constant;
  }
  &.syntax--storage.syntax--modifier.syntax--lifetime,
  &.syntax--entity.syntax--name.syntax--lifetime {
    color: @syntax-color-constant !important;
  }
  &.syntax--meta.syntax--attribute {
    color: @syntax-color-variable !important;
  }

}
