.syntax--shell {
  .syntax--variable.syntax--other {
    &.syntax--other,
    &.syntax--positional {
      color: @syntax-color-variable;
    }
  }
  .syntax--string.syntax--interpolated.syntax--dollar {
    color: inherit;
  }
  .syntax--keyword.syntax--control.syntax--heredoc-token.syntax--shell {
    color: @string-delimiter;
  }
}
