.syntax--sql {
  &.syntax--keyword.syntax--other {
    color: @syntax-color-definition;
    &.syntax--case {
      color: @syntax-color-control;
    }
  }
  &.syntax--constant.syntax--other.syntax--database-name {
    color: @syntax-color-symbol;
  }

  &.syntax--constant.syntax--other.syntax--table-name {
    color: @syntax-color-type;
  }
}